altgraph==0.17
asgiref==3.3.1
astroid==2.4.2
autopep8==1.5.5
beautifulsoup4==4.9.3
branca==0.4.2
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.8
cycler==0.10.0
decorator==4.4.2
Django==3.1.7
django-mathfilters==1.0.0
docopt==0.6.2
folium==0.12.1
future==0.18.2
futures==3.1.1
geocoder==1.38.1
goslate==1.5.1
gunicorn==20.1.0
idna==2.10
imutils==0.5.4
isort==5.6.4
Jinja2==2.11.3
Js2Py==0.70
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
MouseInfo==0.1.3
numpy==1.20.0
opencv-python==4.5.1.48
packaging==20.8
pandas==1.2.3
pefile==2019.4.18
phonenumbers==8.12.16
Pillow==8.1.0
pipwin==0.5.0
playsound==1.2.2
PyAutoGUI==0.9.52
pycodestyle==2.6.0
pycryptodome==3.10.1
PyDictionary==2.0.1
pygame==2.0.1
PyGetWindow==0.0.9
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pyjsparser==2.7.1
pylint==2.6.0
PyMsgBox==1.0.9
pynput==1.7.2
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.2
PyRect==0.1.4
PyScreeze==0.1.27
pySmartDL==1.3.4
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.5
pywhatkit==4.6
